@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inconsolata&display=swap');
*{
    margin: 0;
    padding: 0%;
}

#header{
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    border: solid 10px ;
    border: 50%;
    padding: 0px;
    

    
    
    
    

   
}

#undertitle{
    text-align: center;
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
}

body{
    background: rgb(62,27,189);
background: linear-gradient(90deg, rgba(62,27,189,1) 0%, rgba(91,116,194,1) 35%, rgba(0,212,255,1) 100%);
}

body{
    font-size: 20px;
}

.p1{
    padding: 25px;
    
    
}
#header1{
margin-left: 25px;
margin-top: 25px;
border: solid black;
box-sizing: content-box;
width: 500px;
font-family: 'Anton', sans-serif;
color: yellow;

}

#header2{
    margin-left: 25px;
    font-size: 40px;
    border: black solid;
    box-sizing: content-box;
    width: 550px;
    font-family: 'Bebas Neue', cursive;
    color: red;
    margin-top: 10px;
}

.section{
 border: solid 5px black;


}

#header3{

margin-left: 25px;
    font-size: 40px;
    border: black solid;
    box-sizing: content-box;
    width: 550px;
    margin-top: 10px;
    font-family: 'Source Code Pro', monospace;
}
